body {
  display: block;
  margin: 0;
  padding: 0;
  font: .875em helvetica_condensed,Arial,Helvetica,sans-serif;
  color: #4c4c4c;
  text-align: center;
  border-bottom: 10px solid #4c4c4c; }

.page {
  margin: 0 auto;
  padding: 0;
  text-align: left;
  min-width: 1000px;
  background-color: #FF0000; }

h1 {
  font-size: 4rem; }

h2 {
  font-size: 1.71429rem;
  margin: 20px; }

small {
  color: #666;
  font-weight: 600;
  margin: 20px; }

p {
  margin: 20px; }

@media screen and (min-width: 600px) {
  body {
    background-image: url(../images/bg.png); } }

.page {
  background-color: #4c4c4c; }

.header-container {
  height: 60px;
  width: 100%;
  background-color: #666;
  color: #fff; }

.header {
  text-transform: uppercase;
  margin: 0 auto;
  display: inline-block; }
  .header--subscribe {
    text-shadow: 1em;
    display: none; }
  .header--social li {
    width: 60px;
    height: 60px;
    list-style: none;
    border-bottom: 3px solid #666;
    display: none; }
  .header--social li:first-child {
    background-color: #455796; }
  .header--social li:nth-child(2) {
    background-color: #CC8F32; }
  .header--social li:nth-child(3) {
    background-color: #6A8DC7; }
  .header--social li:nth-child(4) {
    background-color: #FF0000; }
  .header--nav-bar {
    position: fixed;
    top: 0;
    width: 100%;
    margin: 0 auto;
    text-align: center;
    background: #333;
    color: #fff;
    font-size: 1.25em;
    letter-spacing: .20em;
    padding: 1.1% 21%; }
  .header a {
    color: #666;
    display: block;
    float: left;
    margin-top: 22px;
    padding: 0 25px 0 0;
    text-decoration: none; }
  .header a:hover {
    color: #fff; }

.hero {
  width: 50%;
  height: 450px;
  background-image: url(../images/peralta-logo.png);
  background-repeat: no-repeat;
  background-size: 483px;
  background-position: center;
  margin: 0 auto;
  border: 10px solid #fff; }

.news {
  width: 50%;
  height: 450px;
  background-color: #fff;
  background-repeat: no-repeat;
  background-size: 310px;
  background-position: center;
  margin: 0 auto;
  border: 10px solid #fff;
  margin-top: 10px;
  border-bottom: 13px;
  border-bottom-color: #FF0000; }

small {
  color: #666; }

p {
  color: #4c4c4c;
  line-height: 1.8em; }

h3 {
  text-align: center;
  color: #FF0000; }

.gallery {
  width: 50%;
  height: 450px;
  background-image: url(../images/sk8er-1.png);
  background-repeat: no-repeat;
  background-size: 63em;
  background-position: 1%;
  margin: 0 auto;
  border: 10px solid #fff;
  margin-top: 10px; }

h1 {
  color: #fff;
  text-transform: uppercase;
  text-align: center;
  padding-top: 52%;
  margin: 20px; }

.shop {
  width: 50%;
  height: 450px;
  background-color: #fff;
  margin: 0 auto;
  border: 10px solid #fff;
  margin-top: 10px; }

li {
  background-repeat: no-repeat;
  background-size: 83px;
  float: left;
  height: 325px;
  width: 70px;
  list-style: none;
  margin-top: 28px;
  padding: 41px; }

li:first-child {
  background-image: url(../images/sk8-1.png);
  margin-left: 15px; }

li:nth-child(2) {
  background-image: url(../images/sk8-2.png); }

li:nth-child(3) {
  background-image: url(../images/sk8-10.png);
  padding-right: 0px; }

.footer {
  width: 50%;
  height: 450px;
  background-color: #fff;
  margin: 0 auto;
  border: 10px solid #fff;
  margin-top: 10px;
  margin-bottom: 10px; }
  .footer form {
    margin: 0 auto; }
  .footer--block-subscribe {
    text-align: center; }
  .footer input {
    padding-right: 10em;
    margin-left: 14%;
    padding-bottom: 1em;
    margin-bottom: 1em;
    margin-right: 6em;
    margin-left: 6em; }
  .footer input:last-child {
    padding-bottom: 11em; }
  .footer--subscribe-wrapper h2 {
    background-color: #FF0000;
    width: 7em;
    margin: 0 auto; }
