$darkgrey: #333;
$midgrey: #4c4c4c;
$lightgrey: #666;
$red: #FF0000;
$white: #fff;
$box-width-phone: 80%;
$box-width-large: 50%;
$box-height: 450px;
$text-margin: 20px;
$max-width: 30.33%;
$max-height: 380px;
