.footer {
    width: $box-width;
    height: $box-height;
    background-color: $white;
    margin: 0 auto;
    border: 10px solid $white;
    margin-top: 10px;
    margin-bottom: 10px;

  form {
    margin: 0 auto;
  }


  &--block-subscribe {
    text-align: center;
  }

      input {
        padding-right: 10em;
        margin-left: 14%;
        padding-bottom: 1em;
        margin-bottom: 1em;
        margin-right: 6em;
        margin-left: 6em;
      }

        input:last-child {
          padding-bottom: 11em;
        }



  &--subscribe-wrapper h2 {
    background-color: $red;
    width: 7em;
    margin: 0 auto;
  }

}
