.header {

  text-transform: uppercase;
  margin: 0 auto;
  display: inline-block;

    &--subscribe {
      display: none;
      color: $lightgrey;
    }
    &--social {
      li {
        // background-color: #000;
        width: 60px;
        height: 60px;
        list-style: none;
        border-bottom: 3px solid $lightgrey;
        display: none;
      }
      li:first-child {
        background-color: #455796;
      }
      li:nth-child(2) {
        background-color: #CC8F32;
      }
      li:nth-child(3) {
        background-color: #6A8DC7;
      }
      li:nth-child(4) {
        background-color: $red;
      }
    }
    &--nav-bar {
      position: fixed;
      top: 0;
      width: 100%;
      margin: 0 auto;
      text-align: center;
      background: $darkgrey;
      color: $white;
      letter-spacing: .20em;
      font-size: .8rem;

      @media screen and (min-width: 800px) {
        // tweak font size based on device
        font-size: 1.25em;
        padding: 1.1% 21%;
      }
    }
      a {
        color: $lightgrey;
        display: block;
        float: left;
        margin-top: 22px;
        padding: 0 25px 0 0;
        text-decoration: none;
      }

    a:hover {
      color: $white;
    }
}

@media screen and (min-width: 600px) {}


// @media screen and (min-width: 900px) {
//   .header {
//
//     &--subscribe {
//       display: block;
//     }
//
//     &--social li {
//       display: inline-block;
//       background-image: none;
//     }
//
//       &--nav-bar {
//         background: none;
//       }
//
//
//     }
// }
