.hero {
  width: $box-width-phone;
  height: $box-height;
  background-image: url(../images/peralta-logo.png);
  background-repeat: no-repeat;
  background-size: 483px;
  background-position: center;
  margin: 0 auto;
  border: 10px solid $white;

  @media screen and (min-width: 800px) {
    width: $box-width-large;
  }

}

@media screen and (min-width: 600px) {

  .hero {
    background-color: $midgrey;
  }
}
@media screen and (min-width: 900px) {

  .hero {
    width: 1000px;
    height: 350px;
    background-image: url(../images/peralta-logo.png), url(../images/top-image.png);
    background-position: 20px, -89px -122px;
    background-size: 450px, 1600px;
  }
}
