.news {
  width: $box-width;
  height: $box-height;
  background-color: $white;
  background-repeat: no-repeat;
  background-size: 310px;
  background-position: center;
  margin: 0 auto;
  border: 10px solid $white;
  margin-top: 10px;

}

  small {
    color: $lightgrey;
  }

  p {
    color: $midgrey;
    line-height: 1.8em;
  }

  h3 {
    text-align: center;
    color: $red;

  }



@media screen and (min-width: 600px) {}

@media screen and (min-width: 900px) {

  .news {
    width: 330px;
    float: left;


    &--2 {
      width: 330px;
      float: right;
      background-color: $white;
      margin: 0 auto;
    }

    }
}
