.shop {
    width: $box-width-phone;
    // height: $box-height;
    background-color: $white;
    margin: 0 auto;
    border: 10px solid $white;
    margin-top: 10px;



    @media screen and (min-width: 800px) {
      width: $box-width-large;
      clear: both;
    }

}

   li {
    background-repeat: no-repeat;
    background-size: 83px;
    float: left;
    height: 325px;
    width: 70px;
    list-style: none;
    margin-top: 28px;
    padding: 41px;
  }

li:first-child {
  background-image: url(../images/sk8-1.png);
  margin-left: 15px;
}

li:nth-child(2) {
  background-image: url(../images/sk8-2.png);
}

li:nth-child(3) {
  background-image: url(../images/sk8-10.png);
  padding-right: 0px;
}
